body {
 background-image: url("../img/fondo-blog-comida.jpg");
    background-attachment: fixed;
    overflow: scroll;
}

.contenedor-principal {
    background-color: rgba(255, 255, 255, 0.3);
}

.callout {
    background-color: rgba(255, 255, 255, 0.7);
}

.slogan {
    color: white;
    text-align: right;
}

.menu {
    background-color: #f6bc30;
}

.menu-lateral {
    border-radius: 6px;
    margin-top: 10px;
}

.img-comida {
    padding: 10px;
}

.receta-principal {
    border-radius: 6px;
    margin-top: 10px;
}

.fecha {
    color: #e1a61a;
}

.deja-comentario {
    height: 5rem;
}

.historial {
    list-style: none;
}

.comentario-usuario {
    padding: 0 15px 0 15px;
}

.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.comentario-texto {
    margin-left: 15px;
    padding: auto;
}

footer {
    background-color: #f6bc30;
    height: 3rem;
}

.texto-footer{
    color: white;
    margin: 15px;
}